::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #9b9b9b;
  position: absolute;
}
.mat-icon{
  height: 30px !important;
  width: 30px !important;
  font-size: 30px;
  color: #9b9b9b;
  animation-delay: 500ms;
  animation-duration: 1000ms;
}
@keyframes trans {
  from {
opacity: 1;  }

  to {
opacity: 0  }

}
