<mat-progress-spinner mode="indeterminate" diameter="30" strokeWidth="3" [style.display]="showSpiner ? 'block' : 'none'">
</mat-progress-spinner>
<mat-icon    [style.display]="showSuccess ? 'block' : 'none'"
             [style.animation-name]="showSuccess ? 'trans' : 'none'">check_circle</mat-icon>
<mat-icon    [style.display]="showError ? 'block' : 'none'"
             [style.animation-name]="showSuccess ? 'trans' : 'none'">highlight_off</mat-icon>

