.centr{
  margin-right: auto;
  margin-left: auto;
  text-align: center
}
.positive-answer{
  background:  #2e74e2;
  color: #ffffff;
  &:hover{
    background-color: #2E74E2;
  }
}
.negative-answer{
  margin-right: 15px;
  color: #4a90e2;

  &:hover {
    background-color: rgba(68, 130, 226, 0.2);

    ::ng-deep {
      .mat-button-focus-overlay {
        background: transparent;
      }
    }
  }
}

.data-entity-class{
  padding-left: 5px;
  padding-right: 5px;
}
