<div mat-dialog-content>
  <p><span i18n="@@dataNext">data.text</span> <span class="data-entity-class">{{data.entity.title}}</span> <span>?</span></p>
</div>
<div mat-dialog-content class="centr">
    <button class="negative-answer" mat-button (click)="onNegativeAnswerClick()" i18n="@@dataNegativeAnswer"> data.negativeAnswer </button>

    <button class="positive-answer" mat-button (click)="onPositiveAnswerClick()" i18n="@@dataPositiveAnswer"> data.positiveAnswer </button>
</div>
